<!-- header.ejs : Meghna Bilimoria - 301127778 - 8th Oct 2020. -->
<header class="site-header container-fluid">
    <div class="top-header">
        <div class="logo col-md-6 col-sm-6">
            <h1> <a href="home"><img src="images/logo.png"
                        style="height:50px; width:50px; float: left;"><em>Meghna</em> Bilimoria</a></h1>
            <span>Software Engineer</span>
        </div> <!-- /.logo -->
        <div class="social-top col-md-6 col-sm-6">
            <ul>
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-linkedin"></a></li>
                <li><a href="#" class="fa fa-google-plus"></a></li>
                <li><a href="#" class="fa fa-flickr"></a></li>
                <li><a href="#" class="fa fa-rss"></a></li>
            </ul>
        </div> <!-- /.social-top -->
    </div> <!-- /.top-header -->
    <div class="main-header">
        <div class="row">
            <div class="main-header-left col-md-3 col-sm-6 col-xs-8">
                <a id="search-icon" class="btn-left fa fa-info" href="#search-overlay"></a>
                <div id="search-overlay">
                    <a href="#search-overlay" class="close-search"><i class="fa fa-times-circle"></i></a>
                    <div class="search-form-holder">
                        <img src="images/logo.png">
                    </div>
                </div><!-- #search-overlay -->
                <a id="leftArrow" href="#" class="btn-left arrow-left fa fa-angle-left"></a>
                <a id="rightArrow" href="#" class="btn-left arrow-right fa fa-angle-right"></a>
            </div> <!-- /.main-header-left -->
            <div class="menu-wrapper col-md-9 col-sm-6 col-xs-4">
                <a href="#" class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></a>
                <span id="activeLi" val="<%- page%>"></span>
                <ul class="sf-menu hidden-xs hidden-sm">
                    <li id="LIhome"><a href="home">Home</a></li>
                    <li id="LIabout"><a href="about">About Me</a></li>
                    <li id="LIservice"><a href="service">Services</a></li>
                    <li id="LIproject"><a href="project">Projects</a>
                        <ul>
                            <li><a href="#">Videos</a></li>
                        </ul>
                    </li>
                    <li id="LIcontact"><a href="contact">Contact Me</a></li>
                </ul>
            </div> <!-- /.menu-wrapper -->
        </div> <!-- /.row -->
    </div> <!-- /.main-header -->
    <div id="responsive-menu">
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="service">Services</a></li>
            <li><a href="project">Projects</a>
                <ul>
                    <li><a href="#">Videos</a></li>
                </ul>
            </li>
            <li><a href="contact">Contact Me</a></li>
        </ul>
    </div>
</header>
<!-- /.site-header -->

<!-- set active class based on title -->
<script type="text/javascript">
    var title = $("#activeLi").attr("val");
    if (title.toLocaleLowerCase() == "home") {
        $("#leftArrow").show();
        $("#rightArrow").show();
    }
    else {
        $("#leftArrow").hide();
        $("#rightArrow").hide();
    }
    $("[id^=LI]").removeClass("active");
    $("#LI" + title.toLocaleLowerCase()).addClass("active");
</script>