<!-- about.ejs : Meghna Bilimoria - 301127778 - 8th Oct 2020.        -->
<div class="content-wrapper">
    <div class="inner-container container">
        <div class="our-staff row">
            <div class="intro-header col-md-9 col-sm-6">
                <h2>About Me</h2>
                <p>
                    Meghna Bilimoria is a Software Engineer, with experience implementing software on asp.net MVC
                    platform, managing teams. Her background in brand strategy, develop software, and team management
                    informs her mindful but competitive approach. Meghna is fuelled by her passion for understanding the
                    nuances of cross-cultural software industries. She considers herself a ‘forever student,’ eager to
                    both build on her academic foundations in psychology and sociology and stays in tune with the latest
                    technologies through continued coursework.
                    <br><br>
                    Her hunger for knowledge and determination to turn information into action has contributed to her
                    most recent success at Casepoint India, where she led a software developer team, and implement
                    software. Meanwhile, she vastly improved the productivity of her team by implementing strategic
                    project management methods and ensuring a work-life balance for her department.
                    <br><br>
                    Meghna believes mindfulness in the workplace is key to success with passionate about what we do.
                    Meghna is currently studying the course in centennial to upgrade her skills and explore herself and
                    is
                    always interested in a challenge. Reach out to <a
                        href="mailto:bilimoriameghna12@gmail.com?Subject=Contact to Meghna A Bilimoria for about me connect">bilimoriameghna12@gmail.com</a>
                    to connect!
                </p>
            </div> <!-- /.intro-header -->
            <div class="col-md-3 col-sm-3">
                <div class="staff-member">
                    <img src="images/Mab.jpeg" alt="">
                    <div class="overlay">
                        <div class="overlay-inner">
                            <ul class="social-network">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                                <li><a href="#" class="fa fa-dribbble"></a></li>
                                <li><a href="#" class="fa fa-google-plus"></a></li>
                                <li><a href="documents/Resume_Mab.pdf" target="blank" class="fa fa-file"></a></li>
                            </ul>
                            <span>Meghna Bilimoria</span>
                        </div>
                    </div>
                </div> <!-- /.staff-member -->
            </div> <!-- /.col-md-3 -->
            <!-- <div class="col-md-3 col-sm-6">
                        <div class="staff-member">
                            <img src="images/team/staff3.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <ul class="social-network">
                                        <li><a href="#" class="fa fa-facebook"></a></li>
                                        <li><a href="#" class="fa fa-linkedin"></a></li>
                                        <li><a href="#" class="fa fa-dribbble"></a></li>
                                        <li><a href="#" class="fa fa-google-plus"></a></li>
                                    </ul>
                                    <span>Tawana Cherry</span>
                                </div>
                            </div>
                        </div>  /.staff-member -
                    </div> /.col-md-3 -->
            <!-- <div class="col-md-3 col-sm-6">
                        <div class="staff-member">
                            <img src="images/team/staff1.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <ul class="social-network">
                                        <li><a href="#" class="fa fa-facebook"></a></li>
                                        <li><a href="#" class="fa fa-linkedin"></a></li>
                                        <li><a href="#" class="fa fa-dribbble"></a></li>
                                        <li><a href="#" class="fa fa-google-plus"></a></li>
                                    </ul>
                                    <span>Christina Welldone</span>
                                </div>
                            </div>
                        </div> 
                    </div> /.col-md-3 -->
        </div> <!-- /.our-staff -->
    </div> <!-- /.inner-content -->
</div> <!-- /.content-wrapper -->