<!-- index.ejs : Meghna Bilimoria - 301127778 - 8th Oct 2020. -->
<div class="swiper-container">
    <div class="swiper-wrapper">

        <div class="swiper-slide" style="background-image: url(images/slide1.jpg);">
            <div class="overlay-s"></div>
            <div class="slider-caption">
                <div class="inner-content">
                    <h2>Hello,</h2>
                    <p>Myself <b class="blue">Meghna</b> <b class="green">Bilimoria</b>, currently enrolled in Software
                        Engineering Technician (Fast-Track) course at Centennial College. Know more <a rel="nofollow" href="about"
                            class="green">about me.</a></p>
                    <a href="about" class="main-btn white">About Me</a>
                </div> <!-- /.inner-content -->
            </div> <!-- /.slider-caption -->
        </div> <!-- /.swier-slide -->

        <div class="swiper-slide" style="background-image: url(images/slide2.jpg);">
            <div class="overlay-s"></div>
            <div class="slider-caption">
                <div class="inner-content">
                    <p><b>I am an engineer</b>, I apply analytic thinking to problems and find a pragmatic solution that
                        isn't a quick fix, but a lasting value, <b>as part of team</b>, I communicate clearly and
                        proactively. I thrive for consistency and integrity of the creations of my team. </p>
                    <a href="contact" class="main-btn white">Contact Me</a>
                </div> <!-- /.inner-content -->
            </div> <!-- /.slider-caption -->
        </div> <!-- /.swier-slide -->

        <div class="swiper-slide" style="background-image: url(images/slide3.jpg);">
            <div class="overlay-s"></div>
            <div class="slider-caption">
                <div class="inner-content">
                    <img src="images/Centennial.png">
                    <p>Get more content of implementation and explanation of Web Application Development project by
                        clicking the link.</p>
                    <a href="centennial-project" class="main-btn white">View Project Detail</a>
                </div> <!-- /.inner-content -->
            </div> <!-- /.slider-caption -->
        </div> <!-- /.swier-slide -->

    </div> <!-- /.swiper-wrapper -->
</div> <!-- /.swiper-container -->