<!-- project.ejs : Meghna Bilimoria - 301127778 - 8th Oct 2020. -->
<div class="content-wrapper">
    <div class="inner-container container">
        <div class="row">
            <div class="section-header col-md-12">
                <h2>My Projects</h2>
                <span>Here I have added some projects which I did and some short description of that.</span>
            </div> <!-- /.section-header -->
        </div> <!-- /.row -->
        <div class="projects-holder-3">
            <div class="filter-categories">
                <ul class="project-filter">
                    <li class="filter" data-filter="all"><span>All</span></li>
                    <li class="filter" data-filter="Graduation"><span>Graduation</span></li>
                    <li class="filter" data-filter="Centennial"><span>Centennial Project</span></li>
                    <li class="filter" data-filter="Extra"><span>Extra</span></li>
                    <li class="filter" data-filter="Photoshop"><span>Photoshop</span></li>
                </ul>
            </div>
            <div class="projects-holder">
                <div class="row">
                    <div class="col-md-4 project-item mix Graduation">
                        <div class="project-thumb">
                            <img src="images/college1.png" alt="">
                            <div class="overlay-b">
                                <div class="overlay-inner">
                                    <a href="images/college1.png" class="fancybox fa fa-expand"
                                        title="E –Wedding Planner"></a>
                                </div>
                            </div>
                        </div>
                        <div class="box-content project-detail">
                            <h2><a href="#">E –Wedding Planner</a></h2>
                            <p>ASP.NET C# Client and planner based website for the planner to work on the wedding
                                occasion and client can choose planner as per budget and choice, which is handled by the
                                admin.</p>
                        </div>
                    </div> <!-- /.project-item -->
                    <div class="col-md-4 project-item mix Extra">
                        <div class="project-thumb">
                            <img src="images/extra1.png" alt="">
                            <div class="overlay-b">
                                <div class="overlay-inner">
                                    <a href="images/extra1.png" class="fancybox fa fa-expand"
                                        title="Design Website"></a>
                                </div>
                            </div>
                        </div>
                        <div class="box-content project-detail">
                            <h2><a href="#">Design Website</a></h2>
                            <p>The photo-based website is useful for fun to show a clear image while the user hovers to
                                the particular portion.<br> <br> </p>
                        </div>
                    </div> <!-- /.project-item -->
                    <div class="col-md-4 project-item mix Photoshop">
                        <div class="project-thumb">
                            <img src="images/photoshop1.png" alt="">
                            <div class="overlay-b">
                                <div class="overlay-inner">
                                    <a href="images/photoshop1.png" class="fancybox fa fa-expand"
                                        title="Photoshop Work"></a>
                                </div>
                            </div>
                        </div>
                        <div class="box-content project-detail">
                            <h2><a href="#">Photoshop Work</a></h2>
                            <p>Some Official photoshop work for publicity and greeting on festivals.<br><br> <br> </p>
                        </div>
                    </div> <!-- /.project-item -->
                    <div class="col-md-4 project-item mix Centennial">
                        <div class="project-thumb">
                            <img src="images/centennial1.png" alt="">
                            <div class="overlay-b">
                                <div class="overlay-inner">
                                    <a href="images/centennial1.png" class="fancybox fa fa-expand"
                                        title="‘GraspMaster’"></a>
                                </div>
                            </div>
                        </div>
                        <div class="box-content project-detail">
                            <h2><a href="#">‘GraspMaster’</a></h2>
                            <p>E-learning Management System Project for Object-Oriented Software Engrg (SEC. 008) for a
                                learning management system for a person who wants to upgrade his skill in the industry.
                            </p>
                        </div>
                    </div> <!-- /.project-item -->
                    <div class="col-md-4 project-item mix Centennial">
                        <div class="project-thumb">
                            <img src="images/centennial2.png" alt="">
                            <div class="overlay-b">
                                <div class="overlay-inner">
                                    <a href="images/centennial2.png" class="fancybox fa fa-expand"
                                        title="Express Portfolio Site"></a>
                                </div>
                            </div>
                        </div>
                        <div class="box-content project-detail">
                            <h2><a href="video">Express Portfolio Site</a></h2>
                            <p>Personal Portfolio Website using ExpressJS and implementing the EJS templating engine in
                                Web Application Development subject.</p>
                        </div>
                    </div> <!-- /.project-item -->
                </div> <!-- /.row -->
                <!-- <div class="load-more">
                            <a href="javascript:void(0)" class="load-more">Load More</a>
                        </div> -->
            </div> <!-- /.projects-holder -->
        </div> <!-- /.projects-holder-2 -->
    </div> <!-- /.inner-content -->
</div> <!-- /.content-wrapper -->