<!-- service.ejs : Meghna Bilimoria - 301127778 - 8th Oct 2020. -->
<div class="content-wrapper">
    <div class="inner-container container">
        <div class="row">
            <div class="section-header col-md-12">
                <h2>My Services</h2>
                <span></span>
            </div> <!-- /.section-header -->
        </div> <!-- /.row -->
        <div class="projects-holder-3">
            <div class="projects-holder">
                <div class="row">
                    <div class="col-md-3 project-item mix">
                        <div class="project-thumb">
                            <img src="images/1.png" alt="">
                            <div class="overlay-b">
                                <div class="overlay-inner">
                                    <a href="images/1.png" class="fancybox fa fa-expand" title="ASP.NET MVC"></a>
                                </div>
                            </div>
                        </div>
                        <div class="box-content project-detail">
                            <h2>ASP.NET MVC</h2>
                        </div>
                    </div> <!-- /.project-item -->

                    <div class="col-md-3 project-item mix">
                        <div class="project-thumb">
                            <img src="images/2.png" alt="">
                            <div class="overlay-b">
                                <div class="overlay-inner">
                                    <a href="images/2.png" class="fancybox fa fa-expand" title="JQuery"></a>
                                </div>
                            </div>
                        </div>
                        <div class="box-content project-detail">
                            <h2>JQuery</h2>
                        </div>
                    </div> <!-- /.project-item -->

                    <div class="col-md-3 project-item mix">
                        <div class="project-thumb">
                            <img src="images/3.png" alt="">
                            <div class="overlay-b">
                                <div class="overlay-inner">
                                    <a href="images/3.png" class="fancybox fa fa-expand" title="JavaScript"></a>
                                </div>
                            </div>
                        </div>
                        <div class="box-content project-detail">
                            <h2>JavaScript</h2>
                        </div>
                    </div> <!-- /.project-item -->

                    <div class="col-md-3 project-item mix">
                        <div class="project-thumb">
                            <img src="images/4.png" alt="">
                            <div class="overlay-b">
                                <div class="overlay-inner">
                                    <a href="images/4.png" class="fancybox fa fa-expand" title="CSS"></a>
                                </div>
                            </div>
                        </div>
                        <div class="box-content project-detail">
                            <h2>CSS</h2>
                        </div>
                    </div> <!-- /.project-item -->

                    <div class="col-md-3 project-item mix">
                        <div class="project-thumb">
                            <img src="images/5.png" alt="">
                            <div class="overlay-b">
                                <div class="overlay-inner">
                                    <a href="images/5.png" class="fancybox fa fa-expand" title="HTML"></a>
                                </div>
                            </div>
                        </div>
                        <div class="box-content project-detail">
                            <h2>HTML</h2>
                        </div>
                    </div> <!-- /.project-item -->

                    <div class="col-md-3 project-item mix">
                        <div class="project-thumb">
                            <img src="images/6.png" alt="">
                            <div class="overlay-b">
                                <div class="overlay-inner">
                                    <a href="images/6.png" class="fancybox fa fa-expand" title="Kendo UI"></a>
                                </div>
                            </div>
                        </div>
                        <div class="box-content project-detail">
                            <h2>Kendo UI</h2>
                        </div>
                    </div> <!-- /.project-item -->

                    <div class="col-md-3 project-item mix">
                        <div class="project-thumb">
                            <img src="images/7.png" alt="">
                            <div class="overlay-b">
                                <div class="overlay-inner">
                                    <a href="images/7.png" class="fancybox fa fa-expand" title="SQL Server"></a>
                                </div>
                            </div>
                        </div>
                        <div class="box-content project-detail">
                            <h2>SQL Server</h2>
                        </div>
                    </div> <!-- /.project-item -->

                    <div class="col-md-3 project-item mix">
                        <div class="project-thumb">
                            <img src="images/8.png" alt="">
                            <div class="overlay-b">
                                <div class="overlay-inner">
                                    <a href="images/8.png" class="fancybox fa fa-expand" title="PostgreSQL"></a>
                                </div>
                            </div>
                        </div>
                        <div class="box-content project-detail">
                            <h2>PostgreSQL</h2>
                        </div>
                    </div> <!-- /.project-item -->
                </div> <!-- /.row -->
            </div> <!-- /.projects-holder -->
        </div> <!-- /.projects-holder-2 -->
        <div class="row">
            <div class="col-md-6 service-item service-left">
                <div class="box-content">
                    <div class="service-icon">
                        <i class="li_lab"></i>
                    </div>
                    <div class="service-content">
                        <h4><br />Quality Matter With Us</h4>
                    </div>
                </div> <!-- /.box-content -->
            </div> <!-- /.service-item -->
            <div class="col-md-6 service-item service-right">
                <div class="box-content">
                    <div class="service-icon">
                        <i class="li_study"></i>
                    </div>
                    <div class="service-content">
                        <h4><br>Learning New Things</h4>
                    </div>
                </div> <!-- /.box-content -->
            </div> <!-- /.service-item -->
            <div class="col-md-6 service-item service-left">
                <div class="box-content">
                    <div class="service-icon">
                        <i class="li_cup"></i>
                    </div>
                    <div class="service-content">
                        <h4><br />Maintainance support</h4>
                    </div>
                </div> <!-- /.box-content -->
            </div> <!-- /.service-item -->
            <div class="col-md-6 service-item service-right">
                <div class="box-content">
                    <div class="service-icon">
                        <i class="li_clock"></i>
                    </div>
                    <div class="service-content">
                        <h4><br />On-Time Delivery</h4>
                    </div>
                </div> <!-- /.box-content -->
            </div> <!-- /.service-item -->
            <div class="col-md-6 service-item service-left">
                <div class="box-content">
                    <div class="service-icon">
                        <i class="li_like"></i>
                    </div>
                    <div class="service-content">
                        <h4><br />Sincerely Supporting</h4>
                    </div>
                </div> <!-- /.box-content -->
            </div> <!-- /.service-item -->
            <div class="col-md-6 service-item service-right">
                <div class="box-content">
                    <div class="service-icon">
                        <i class="li_bulb"></i>
                    </div>
                    <div class="service-content">
                        <h4><br />Creative Idea Important</h4>
                    </div>
                </div> <!-- /.box-content -->
            </div> <!-- /.service-item -->
        </div> <!-- /.row -->
    </div> <!-- /.inner-content -->
</div> <!-- /.content-wrapper -->