<!-- video.ejs : Meghna Bilimoria - 301127778 - 8th Oct 2020.  -->
<div class="content-wrapper">
    <div class="inner-container container">
        <div class="row">
            <div class="section-header col-md-12">
                <h2>Videos</h2>
                <span>Videos for explaination of Express portfolio website.</span>
            </div> <!-- /.section-header -->
        </div> <!-- /.row -->
        <div class="project-detail row">
            <div class="projects-holder">
                <div class="row project-infos">
                    <div class="col-md-6">
                        <iframe style="width: 100%;height: 320px;"
                            src="https://www.youtube.com/embed/IRwem8dWloY?playlist=IRwem8dWloY&loop=1&controls=1">
                        </iframe>
                    </div>
                    <div class="col-md-6 project-item">
                        <iframe style="width: 100%;height: 320px;"
                            src="https://www.youtube.com/embed/Rn7UX8sv9uM?playlist=Rn7UX8sv9uM&loop=1&controls=1">
                        </iframe>
                    </div>
                    <div class="col-md-6 project-item">
                        <iframe style="width: 100%;height: 320px;"
                            src="https://www.youtube.com/embed/K4eii3Mj9HQ?playlist=K4eii3Mj9HQ&loop=1&controls=1">
                        </iframe>
                    </div>
                    <div class="col-md-6 project-item">
                        <iframe style="width: 100%;height: 320px;"
                            src="https://www.youtube.com/embed/LcxCdxALyQU?playlist=LcxCdxALyQU&loop=1&controls=1">
                        </iframe>
                    </div>
                    <div class="col-md-6 col-md-offset-3 project-item">
                        <iframe style="width: 100%;height: 320px;"
                            src="https://www.youtube.com/embed/skhCLjVSJVQ?playlist=skhCLjVSJVQ&loop=1&controls=1">
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="project-infos col-md-12">
                <div class="box-content">
                    <h2 class="project-title">Express Portfolio Site</h2>
                    <span class="project-subtitle">Personal Portfolio Website using ExpressJS and implementing the EJS
                        templating engine in
                        Web Application Development subject.</span>
                    <p>
                        COMP229– Web Application Development<br>
                        <b>Assignment 1</b><br>
                        Express Portfolio Site<br>
                        Due: Week 4 (Friday October 9, 2020) @ midnight<br>
                        Value 15%<br>
                        Express Portfolio Site Maximum Mark: 100<br>
                        Overview: Create your Personal Portfolio Website using ExpressJS and implementing the EJS
                        templating engine. Your site must be hosted live on a cloud service such as Microsoft Azure,
                        Heroku, or Digital Ocean.<br>
                        Instructions:<br>
                        This Express site must include the pages from your Personal Portfolio 5 pages – your Home page,
                        an About Me page, a Projects page, a Services page, and a Contact Me page.<br>
                        1. You Site must include the appropriate content for a Personal Portfolio (17 Marks:
                        Content)<br>
                        &emsp;a. You must include a Navigation Bar or other Navigation scheme that allows the user to
                        view each page of your site. (2 Marks: Content).<br>
                        &emsp;b. You must include a Custom Logo for your site, this should be placed in or around the
                        main Navigation bar. The Custom Logo can be as simple or artistic as you desire (e.g. you could
                        use a primitive colour-filled shape like a triangle or hexagon with your initials positioned
                        inside). Please do not use a logo that belongs to another company or person. (2 Marks:
                        Content).<br>
                        &emsp;c. Your Home Page should include some sort of welcome message and link or button that
                        allows the user to redirect to your About Me Page and / or other pages. I recommend also
                        including some sort of Mission Statement (2 Marks: Content).<br>
                        &emsp;d. Your About Me Page should include your legal name, an image of you (I recommend a head
                        and shoulders shot), a short paragraph about who you are. Keep this clean and simple as it may
                        be viewed by perspective employers. (1 Mark: Content)<br>
                        &emsp;e. Your About Me page should include a link to a PDF version of your Resume (1 Mark:
                        Content).<br>
                        &emsp;f. Your Projects Page should include images and information for at least 3 Projects you
                        wish to highlight. These could be current projects you are working on or past projects you have
                        completed. Include an image for each Project and a short description of your role and the
                        outcome. (2 Marks: Content).<br>
                        &emsp;g. Your Services Page should include a short list of services you offer (e.g. general
                        programming, web development, mobile apps, etc.). I recommend including images that make this
                        more appealing to view. (2 Marks: Content).<br>
                        &emsp;h. Your Contact Page should include your contact information in a panel or other
                        construct. (1 Mark: Content).<br>
                        &emsp;i. Your Contact Page should include a short interactive form that allows the user send you
                        a message and provide basic contact information (First Name, Last Name, Contact Number, Email
                        Address, Message, etc.). This form does not have to be fully functional initially. However, it
                        should be able to capture the information entered by the user and redirect them back to the Home
                        Page (4 Marks: Content).<br>
                        2. Your Portfolio site will use ExpressJS and NodeJS and your web pages have been split to use
                        different View templates and partials by implementing the EJS templating engine and Express
                        Routes (8 Marks: GUI, 26 Marks: Functionality):<br>
                        &emsp;a. Your site should include at least 2 View templates – one for your Home Page and one for
                        your Contact Me page. Note: You may include additional templates as needed to accommodate other
                        site pages (13 Marks: Functionality, 8 Marks: GUI).<br>
                        &emsp;b. An Express Route must exist for each page of your site. Note: You will need to use the
                        router.get(path, callback(req, res, next)) method structure with a res.render(view, locals)
                        method call to render each view (13 Marks: Functionality).<br>
                        3. Your site will use the new structure created by the Express Generator. Your site files will
                        be migrated to work within the public, routes and views folders (26 Marks: Site Structure):<br>
                        &emsp;a. Generate your site structure with the Express Generator. Note: You must use the -e
                        option to ensure that you implement the EJS templating engine for Express (9 Marks: Site
                        Structure).<br>
                        &emsp;b. Your JavaScript, CSS and Multimedia Asset Files should be moved to separate folders
                        within the public folder. Using the Twitter Bootstrap CSS framework is strongly recommended,
                        though not required. Note: the public folder is part of the path and does not have to be
                        referenced (6 Marks: Site Structure).<br>
                        &emsp;c. You will define routes for all of your site pages in the index.js file in your routes
                        folder (2 Mark: Site Structure).<br>
                        &emsp;d. Your views folder will contain your EJS page templates. You will create a separate
                        folder named partials for all of your partial EJS files. You will need several partials
                        including header.ejs, content.ejs, footer.ejs and others. (6 Marks: Site Structure).<br>
                        &emsp;e. All Your Code (HTML, CSS, JavaScript, jQuery, etc.) is error free (3 Marks: Site
                        Structure).<br>
                        4. Include Internal Documentation for your site (5 Marks: Internal Documentation):<br>
                        &emsp;a. Ensure you include a comment header for your CSS and JavaScript files that indicate:
                        the File name, Student’s Name, StudentID, and Date, (2 Marks: Internal Documentation).<br>
                        &emsp;b. Ensure you include a section headers for all of your HTML structure, CSS style
                        sections, and any JavaScript functions (1 Marks: Internal Documentation)<br>
                        &emsp;c. Ensure all your code uses contextual variable names that help make the files
                        human-readable (1 Marks: Internal Documentation).<br>
                        &emsp;d. Ensure you include inline comments that describe your GUI Design and Functionality.
                        Note: Please avoid “over-commenting” (1 Marks: Internal Documentation)<br>
                        5. Share your files on GitHub to demonstrate Version Control Best Practices and push your site
                        to a cloud host (4 Marks: Version Control, 4 Marks: Cloud Hosting).<br>
                        &emsp;a. Your repository must include your code and be well structured (2 Marks: Version
                        Control).<br>
                        &emsp;b. Your repository must include commits that demonstrate the project being updated at
                        different stages of development – each time a major change is implemented (2 Marks: Version
                        Control).<br>
                        &emsp;c. You must deploy your site to your Cloud Server using git (4 Marks: Cloud Hosting).<br>
                        6. Create a Short Video presentation on YouTube or another streaming provider. You must include
                        a short PowerPoint (or Google Slides) Slide Deck that includes a single slide to start your
                        video (10 Marks: Video)<br>
                        &emsp;a. The first (and only) Slide of your Slide Deck must include a current image of you (no
                        avatars allowed) that is displayed appropriately on the page. You must also include your Full
                        Name, Student ID, the Course Code, Course Name, and your Assignment information. (2 Marks:
                        video)<br>
                        &emsp;b. You will demonstrate your site’s functionality. You must show each page working
                        properly (2 Marks: Video)<br>
                        &emsp;c. You will describe the code in your app.js file that drives the functionality of your
                        site (2 Marks Video).<br>
                        &emsp;d. Sound for your Video must at an appropriate level so that your voice may be clearly
                        heard, and your screen resolution should be set so that your code and site details are clearly
                        visible (2 Marks: Video).<br>
                        &emsp;e. Your Short Video should run no more than 5 minutes (2 Marks: Video).<br><br>
                        SUBMITTING YOUR WORK<br>
                        Your submission should include:<br>
                        &emsp;1. A zip archive of your website’s Project files<br>
                        &emsp;2. A link to GitHub (preferable).<br>
                        &emsp;3. A link to your live portfolio site hosted with a Cloud provider<br>
                    </p>
                    <ul class="project-meta">
                        <li><i class="fa fa-folder-open"></i>Portfolio</li>
                        <li><i class="fa fa-calendar-o"></i>October 2020</li>
                        <li><i class="fa fa-envelope-o"></i><a
                                href="mailto:bilimoriameghna12@gmail.com">bilimoriameghna12@gmail.com</a></li>
                        <li><i class="fa fa-globe"></i><a
                                href="http://meghna-bilimoria.herokuapp.com">http://meghna-bilimoria.herokuapp.com</a>
                        </li>
                        <li><i class="fa fa-file"></i><a target="blank"
                                href="https://github.com/meghnabilimoria/meghna-bilimoria">https://github.com/meghnabilimoria/meghna-bilimoria</a>
                        </li>
                    </ul>
                </div> <!-- /.box-content -->
            </div> <!-- /.project-infos -->
        </div> <!-- /.project-detail -->
    </div> <!-- /.inner-content -->
</div> <!-- /.content-wrapper -->